body {
    font-family: 'Arial', sans-serif;
}

.form {
    max-width: 600px;
    margin: 0 auto;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab {
    float: left;
    width: 50%;
    margin-bottom: -1px;
}

.tab a {
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    background: #007BFF;
    color: #ffffff;
    font-size: 18px;
    float: left;
    transition: 0.5s;
}

.tab a:hover {
    background: #0056b3;
}

.tab.active a {
    background: #ffffff;
    color: #007BFF;
}

.tab-content {
    padding: 15px;
    border: 1px solid #007BFF;
    border-radius: 0 0 5px 5px;
}

.field-wrap {
    position: relative;
    margin-bottom: 25px;
}

label {
    display: block;
    color: #666;
}

input {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid #007BFF;
    color: #666;
}

input:focus {
    outline: none;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #007BFF;
    color: #ffffff;
    transition: 0.5s;
    cursor: pointer;
}

.button:hover, .button:focus {
    background: #0056b3;
}

.button-block {
    display: block;
    width: 20%;
}

.req {
    color: #e74c3c;
    margin-bottom: 5px;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}
.container{
    width: 80%;
    margin: 0 auto;
}

button {
    padding: 10px;
    background-color: #dc3545; /* Color de fondo rojo para el botón de eliminar */
    color: #fff; /* Color del texto blanco para resaltar */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c82333; /* Cambia el color de fondo al pasar el mouse sobre el botón */
}

/* Ajustes de estilo para el botón de editar */
button.edit {
    background-color: #007bff; /* Color de fondo azul para el botón de editar */
}

button.edit:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse sobre el botón de editar */
}